.hexColor-f1f3ff {
  background-color: #f1f3ff;
}

.lime-green {
  background-color: #32cd32;
}

.button {
  color: white;
}

.button:hover {
  background-color: #8ed58e;
}

.mx-118px {
  margin-left: 118px;
  margin-right: 118px;
}

.mx {
  margin-left: 120px;
  margin-right: 130px;
}

.text-color {
  color: black;
}

.mt-160px {
  margin-top: 160px;
}

.car-card {
  width: 900px;
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(119, 119, 119, 0.178);
  z-index: 1;
}


.car-card-list {
  margin-top: 2cap;
  margin-left: 1ch;

}
